<div class="modal-header">
  <h4 class="modal-title pull-left">{{edicao ? "Editar Registro" : "Novo Registro"}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formulario" (ngSubmit)="enviar()">
    <div class="form-group">
      <label>Colaborador</label>
      <input *ngIf='!edicao' type="text" formControlName="colaborador" class="form-control">
      <input *ngIf='edicao' type="text" formControlName="colaborador" class="form-control" disabled>
      <div *ngIf="colaborador.invalid && (colaborador.dirty || colaborador.touched)">
        <div *ngIf="colaborador.errors.required" class="text-danger">
          O campo é obrigatório.
        </div>
        <div *ngIf="colaborador.errors.pattern" class="text-danger">
          O campo deve ser um GUID.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Nome</label>
      <input type="text" formControlName="nome" class="form-control">      
      <div *ngIf="nome.invalid && (nome.dirty || nome.touched)">
        <div *ngIf="nome.errors.required" class="text-danger">
          O campo é obrigatório.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Data</label>
      <div class="row">
        <div class="col col-9">
          <input type="text" class="form-control" formControlName="data" bsDatepicker>
        </div>
        <div class="col col-1">
          <timepicker [formControlName]="'hora'" [showSpinners]='false' [showMeridian]='false'></timepicker>
        </div>
      </div>      
      <div *ngIf="(data.invalid && (data.dirty || data.touched))">
        <div *ngIf="data.errors.required" class="text-danger">
          O campo Data é obrigatório.
        </div>
      </div>
      <div *ngIf="(hora.invalid && (hora.dirty || hora.touched))">
        <div *ngIf="hora.errors.required" class="text-danger">
          O campo Hora é obrigatório.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Operação</label>
      <select class="custom-select" formControlName='operacao'>
        <option *ngFor="let operacao of operacoes" [ngValue]="operacao.nome">
          {{ operacao.descricao }}
        </option>
      </select>
      <div *ngIf="operacao.invalid && (operacao.dirty || operacao.touched)">
        <div *ngIf="operacao.errors.required" class="text-danger">
          O campo é obrigatório.
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-success" [disabled]="!formulario.valid">Enviar</button>
    </div>
  </form>
</div>