<div class="container-topo-tabela">
  <div class="row">
    <div class="col col-md-6">
      <div class="btn-group">
        <button class="btn btn-primary" tooltip="Novo Registro" (click)="abrirModal()" >
          Novo Registro
        </button>
      </div>
    </div>
    <div class="col col-md-6">
        <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="filtroLista">
    </div>
  </div>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Data</th>
      <th scope="col">Horário</th>
      <th scope="col">Horas Trabalhadas</th>
      <th scope="col">Entrada</th>
      <th scope="col">Saída</th>
    </tr>
  </thead>
  <tbody *ngIf="horasTrabalhadasFiltradas && horasTrabalhadasFiltradas.length > 0">
    <tr *ngFor="let registro of horasTrabalhadasFiltradas">
      <td>{{registro.nome}}</td>
      <td>{{registro.dia | FormatadorDeDatas}}</td>
      <td *ngIf='registro.entrada && registro.saida'>{{registro.entrada.dataHoraDoRegistro | FormatadorDeHoras}} - {{registro.saida.dataHoraDoRegistro | FormatadorDeHoras}}</td>
      <td *ngIf='registro.entrada && !registro.saida'>{{registro.entrada.dataHoraDoRegistro | FormatadorDeHoras}} - </td>
      <td *ngIf='!registro.entrada && registro.saida'> - {{registro.saida.dataHoraDoRegistro | FormatadorDeHoras}}</td>
      <td *ngIf='registro.horasTrabalhadas'>{{registro.horasTrabalhadas | number:'1.2-2'}}</td>
      <td *ngIf='!registro.saida'>Saída não Registrada</td>
      <td *ngIf='!registro.entrada'>Entrada não Registrada</td>
      <td>
        <div class="btn-group" *ngIf='registro.entrada'>
          <button class="btn btn-primary btn-sm"(click)='editar(registro.entrada)'><i class="fas fa-pen"></i></button>
          <button class="btn btn-danger btn-sm" (click)='excluir(registro.entrada)'><i class="fas fa-trash"></i></button>
        </div>
      </td>
      <td>
        <div class="btn-group" *ngIf='registro.saida'>
          <button class="btn btn-primary btn-sm" (click)='editar(registro.saida)'><i class="fas fa-pen"></i></button>
          <button class="btn btn-danger btn-sm" (click)='excluir(registro.saida)'><i class="fas fa-trash"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot  *ngIf="!horasTrabalhadasFiltradas || horasTrabalhadasFiltradas.length == 0">
    <tr>
      <td colspan="6" class="text-center">
        Nenhum Registro Encontrado!
      </td>
    </tr>
  </tfoot >
</table>